@charset "utf-8";
/* encoding시 한국어가 깨지지 않도록 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* 구글 폰트 */

/*reset*/
/* 기본적으로 있는 모든 margin과 padding을 없앨 예정 */
*{
    margin:0;
    padding:0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}

/* 글씨 속성 없애주기 */
a{
    color:inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

address,em,i{
    font-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}


/*layout*/
/* body의 글씨 적용하기 */
body {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 14px;
    background: #eee;
}
.wrap{
    width: 100%;
    overflow: hidden; /* 전체적으로 감쌀 수 있도록*/
    height: 5000px;/*스크롤 테스트*/
}

/* header */
header{
    width:100%;
    position: fixed; /* 마우스를 스크롤할 떄 fix 될 수 있도록*/
    z-index: 100; /* 무조건 위에 올 수 있도록 */
    background: #000;
}
.innerHeader{
    padding: 0 60px;
    height: 90px;
    transition: all 0.3s;
}

.innerHeader .logo {width: 200px; height: 36px; float: left;margin-top: 28px; transition: all 0.3s; }

.innerHeader .logo a{
    display:block; /*좁은 부분을 모두 클릭해도 되도록 변경*/
    width:100%;
    height: 100%;
    position: relative; /*a를 기준으로 a안에 이미지의 기준 잡기*/
}

.innerHeader .logo a img {width: 100%; position: absolute; top:0; left: 0;transition: all 0.3s; }
.innerHeader .logo a img:nth-child(2) {opacity: 0;} /* 투명도 */

/* header 영역의 센터 위치에 위치하고 있음 gnb가*/
/*gnb*/
.gnb {
    position: absolute;/* header의 position을 fixed해놨기떄문에 gnb의 position은 absolute*/
    left: 50%;/* center로 옮기기*/
    transform: translateX(-50%); /* 한쪽으로 치우치지않게 */
    width: 800px;
}
.gnb > li { /*gnb 바로 안에 li 선택*/
    float: left; /*list 정렬 시키기*/
    width: 20%; /*정렬의 기준은 20%씩*/
    height: 90px; /*header의 높이에 맞추기*/
    line-height: 90px; /*글자를가운데로*/
    position: relative; /*하위 메뉴가 나올 수 있도록 */
    transition: all 0.3s;
}

.gnb > li > a {
    display: block; /*원활한 클릭*/
    width: 100%;
    height: 100%;
    text-align: center; /*글자는 가운데로*/
    color: #fff;
    font-size: 18px;
    font-weight: 500; /*글자가 두껍게*/
}

/* 부드럽게 슬라이스 되는 애니메이션을 주기위해서 Transition을 추가해야 함*/
/* 이건 display에는 적용되지 않음 또한 Height에도 적용되지 않아서 padding, line-height를 on으로 옮겨준다.*/

.gnb ul.inner {
    /*display: none;
    제거*/
    position: absolute; /* .gnb > li의 relative 에 맞춰서 absolute 포지션이 됨*/
    width: 160px;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    /*그림자만들기(좌우상하퍼짐정도)*//*padding: 10px 25px;
    ->on으로이동*/
    padding: 0;
    box-sizing: border-box;
    /*line-height:50px;
    ->on으로이동*/
    line-height: 0px;
    opacity: 0;
    /*평소에는보이지않도록처리*/
    transition: opacity 0.5s, top 0.5s;
    -webkit-transition: opacity 0.5s, top 0.5s;
    -moz-transition: opacity 0.5s, top 0.5s;
    -ms-transition: opacity 0.5s, top 0.5s;
    -o-transition: opacity 0.5s, top 0.5s;
    /*부드럽게처리하기위해서->하지만all로하면padding에걸리기때문에opacity에만속도가걸릴수있도록all->opacity*/
    /*opacity뿐만 아니라 top에도 기능을 주기*/
    overflow: hidden; /*이상한 글씨 뜨는 거 제거*/
    top : 80px; /*원래 Header의 높이가 90px이니까 그것보다 조금 높은 곳에서 나타났다가 내려오는 느낌으로*/
    left: 12%;/*(이후)길이를 중앙으로 맞추기 위한 추가*/
}


.gnb ul.inner.on{ /*on일때 css 어떻게 할 것인가.*/
    /* display: block; 제거*/
    padding: 10px 25px;
    line-height:50px;
    opacity: 1; /*마우스 올렸을 때만 보이도록  처리*/
    top : 90px; /*on일때는 바로 90px 다 내려올 수 있도록*/
}
.gnb ul.inner a {
    display: block;
    width:100%;
    height: 100%;
    font-size: 17px;
}

.gnb >li > a::before{
    position : absolute; /*기준은 .gnb>li>a positon:relative;*/
    content : '';
    background: #FFD85B;
    width: 75%;
    height: 100%;
    z-index: -1; /*글씨를 앞으로 보내기 위해서 */
    left:50%; /*왼쪽으로 50%만큼 갔다가 다시 x축 기준으로 절반을 움직여줌*/
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    /* (이전) top:0; 글씨의 폭이 안맞으니까 가운데로 보내기 위한 처리 left, top */
    /*(이후)*/
    top : -90px; /*위에서부터 시작*/
    /*길이를 맞추기 위해서 .gnb ul.inner 에게 left를 줌*/
    opacity:0;/*마지막으로 컨텐츠가 hover일때만 보여야 하니까 opacity :0*/
    transition: all 0.3s;/*부드럽게 만들기 위해서 */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

/*1. 리스트에서 색깔 hover가 사라지지않도록 */
/* .gnb >li > a:hover::before{ */
/*2. 모든 리스트에 해당되도록 > (꺽새)제거 */
.gnb li>a:focus::before, .gnb li:hover>a::before{
    opacity: 1;
    /* top:-90px일때 처리*/
    top:0px;
}

/*3. span내 컨텐츠에 밑줄을 추가하기 위해서 span으로 list의 내용을 묶어준 상태*/
.gnb ul.inner a span{
    display: inline-block; /*원래 span의 display는 inline 하지만 위에 다 삭제했기 때문에 다시 처리*/
    /*inline에는 padding이 먹히지 x*/
    position: relative; /*span을 기준으로 가상 content가 올라올 수 있도록*/
}

/*4.*/
.gnb ul.inner a span::after{
    content: '';
    width : 0; /* width: 100%; 100%로 확인하기 -> 평상시에는 0*/
    height: 2px;
    background: #FFD85B;
    position: absolute;
    left:0;
    bottom:8px; /*밑줄이 너무 떨어지지않도록*/
    transition: all 0.3s;
}

/*5. hover일때 디자인 움직이기*/
/* focus는 Tab키로 이동할 때 사용되기 위한 것*/
.gnb ul.inner a:hover span::after, .gnb ul.inner a:focus span::after{
    width:100%;
    padding-right: 10px; /*글씨보다 조금 더 길게 표현하기 위해서*/
    /*마지막으로 배경 컬러 변경*/
}

/*6. fixHeader 영역 -> js먼저 만들어야 함*/
header.on .innerHeader {
    /*.innerHeader의원래높이값은90px:;
    *//*좀작게줄여줌*/height: 60px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/*7. fixHeader의 gnb 글씨들을 가운데로 그리고 list가 2개나 있기 때문에 1개만 표현하기 위해 >li*/
header.on .innerHeader .gnb > li{
    height: 60px;
    line-height: 60px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/*8. logo변경하기.*/
header.on .innerHeader .logo{
    margin-top:13px; /*글씨 크기가 변하면서 위 넓이 줄이기*/
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/*9. logo 나타나는 것 바꾸기*/
header.on .innerHeader .logo a img:nth-child(1){
    opacity: 0;
}
header.on .innerHeader .logo a img:nth-child(2){
    opacity: 1;
}

/* 10. 떨어져있는 header 수정*/
header.on .gnb ul.inner.on{
    top:60px;
}